body {
  /* background: url("https://wallpaperaccess.com/full/699266.jpg"); */
  background-image: url("./background2.jpeg");
  background-size: cover;
}
button {
  background-color: white;
  
}

.nav, footer {
  display: flex;
  justify-content: space-around;
  color: black;
}
.nav a {
  color: black;
}
footer {
  margin-top: auto;
  height: 50px;
}
.search {
  margin-top: 20px;
  display: flex;
}
.search p {
  margin: 10px;
}
.search input {
  width: 200px;
  height: 20px;
}
.search button {
  margin-left: 20px;
  background-color: #E9B000;
}

.home {
  height: 90vh;
  font-size: 30px;
}


.home-pics {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
}
.home-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;
  margin: 10px;
}
.home-title button {
  background-color: white;
}
.home img {
  width: 300px;
  margin: 20px;
}
.home button {
  padding: 20px;
  margin: 10px;
}
.search-result-entry {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlistinfo {
  padding: 20px;
}
.playlistinfo a {
  text-decoration: none;
}
.song-card {
  /* background-color: #E24E42; */
  margin: 10px;
  padding: 10px;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}
.song-card img {
  object-fit: cover;
}
.search-result-entry {
  width: 600px;
}
#final {
  background-color: #E24E42;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}
#final-button {
  width: 50px;
  transform: scaleX(-1);
}
.song {
  display: flex;
  width: 100%;
}
.individual-song {
  display: flex;
  justify-content: center;
  width: 60%;
}
.song-info {
  background-color: #Eb6e80;
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.fun-facts {
  background-color: #Eb6e80;
  margin: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 90vh;
}
.searchresult {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.song-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.song-grid img {
  width: 250px;
  height: 250px; 
 object-fit: cover; 
 margin: 10px;
}

.prev-next {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.prev-next img, .prev-next-first-screen img {
  width: 50px;
}

.prev-next-first-screen {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.previous-button {
  transform: scaleX(-1);
}
